* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#header {
  background-color: black;
}

.headerPart1 {
  display: flex;
  justify-content: space-between;
  padding: 4px 50px;
  background-color: #1a1a1a;
}

.deliveryContant span {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #626262;
  padding: 10px;
}

.vl {
  border-left: 2px solid #626262;
  height: 19px;
  display: inline-block;
}
.socialContant {
  display: flex;
  gap: 10px;
}
.socialContant span {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #626262;
}

.socialIcons img {
  padding: 0px 10px;
}

.headerPart2 {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0px 50px;
}

.image {
  padding: 0px 50px;
  width: 98vw;
}

.headerHeading h1 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 275;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}

.headerBags span {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.headerPart3 {
  background-image: url(images/Group\ 15.png);
  background-size: cover;
  padding: 4px 50px;
}

.menu {
  display: flex;
  gap: 100px;
}

.headerPart3 a {
  text-decoration: none;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.h1Heading1 {
  color: white;
  font-family: Syne;
  font-size: 135px;
  font-weight: 800;
  line-height: 103px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 18vh;
  padding-bottom: 4vh;
}

.h1Heading2 {
  color: white;
  font-family: Syne;
  font-size: 135px;
  font-weight: 800;
  line-height: 103px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 7vw;
}

.year {
  font-family: Syne;
  font-size: 135px;
  font-weight: 800;
  line-height: 103px;
  letter-spacing: 0em;
  text-align: left;
  color: #f07e15;
  text-shadow: -1px 1px 0 white, 2px 2px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
  padding-left: 20vw;
  padding-bottom: 4vh;
}

.btn {
  background-color: black;
  color: white;
  border: #ffffff 1px solid;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.sectionHeading {
  padding: 40px 0px 0px 50px;
  font-family: Syne;
  font-size: 90px;
  font-weight: 600;
  line-height: 108px;
  letter-spacing: 0em;
  text-align: left;
}

.subSection {
  display: flex;
  gap: 80px;
  padding-left: 50px;
}
ol li {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.secImage {
  padding-left: 50px;
}
li {
  padding-bottom: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.accessories {
  font-family: Syne;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

#cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  width: 310px;
  height: 322px;
}

.title {
  font-family: Syne;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.description {
  color: #16161580;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.price {
  font-family: Syne;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

#contact {
  background-color: black;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.headerLine {
  color: #626262;
}

.contactHeader {
  display: flex;
  gap: 20vw;
  flex-wrap: wrap;
}

.headerLine {
  width: 21vw;
}

.inputs {
  width: 38vw;
  background-color: black;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-bottom: 10px;
}

.inputs::placeholder {
  font-family: syne;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.subTitle {
  font-family: Syne;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.bodyText {
  font-family: syne;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.h1Title {
  z-index: 1000;
}
.h1Title h1 {
  color: #ffffff;
  font-family: Syne;
  font-size: 135px;
  font-weight: 800;
  line-height: 103px;
  letter-spacing: 0em;
  text-align: left;
}

.sendButton {
  background-color: black;
  font-family: Syne;
  height: 140px;
  width: 140px;
  color: #f07e15;
  left: 40vw;
  border-radius: 50%;
  border: #f07e15 1px solid;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  position: relative;
  top: 26vh;
  margin-top: -140px;
}

#footer {
  padding: 20px 0px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

@media only screen and (max-width: 600px) {
  .headerPart1 {
    padding: 4px 8px;
  }
  .headerPart2 {
    padding: 4px 8px;
  }
  .image {
    padding: 0px 0px;
    width: 100vw;
  }
  .h1Heading1,
  .h1Heading2,
  .year {
    font-size: 55px;
    font-weight: 800;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 0px;
  }
  .year {
    padding-left: 30px;
  }
  .h1Heading1 {
    padding-left: 5px;
  }
  .h1Heading2 {
    padding-left: 5px;
  }

  .subSection {
    flex-wrap: wrap;
  }
  .sectionHeading {
    font-family: Syne;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
  }
  .secImage {
    width: 100vw;
    padding: 0%;
  }
  .contactHeader {
    width: 100vw;
  }

  .h1Title h1 {
    font-family: Syne;
    font-size: 55px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
  }
  .headerPart3 {
    background-image: url(images/Group\ 15.png);
    background-size: 480px 360px;
  }

  .sendButton {
    width: 100px;
    height: 100px;
    left: 10vw;
    top: 21vh;
  }

  .menu {
    display: none;
  }
}
